<div class="container text-center pb-5 pt-5">
    <div class="row text-center align-items-center my-3 py-3">
        <div class="col-15 col-md-7 pb-2">
            <div class="imgg"><img class="img-fluid rounded-squre w-75" src="./images/alappuzha_light_house.jpg" alt="Alleppey Lighthouse"></div> 
        </div> 
  
        <div class="col-10 col-md-3">
  
            <div class="text-justify ml-3 mr-3"style="font-size: 20px;">
                <button type="button" class="btn btn-outline-success" onclick="signin(redirect);">Follow</button>
                <p class="pt-3">Followed by 300</p>
            </div>  
        </div>
    </div>
</div>